*{
	box-sizing: border-box;
}

body{
	background-color: #F5AA9D;
	text-align: center;
	color: white;
	font-family: 'CabinSketch';
	font-size: 25px;
}


.boxes{
	height:180px;
	margin: 0;
}


.innerbox{
	background-color: #BFECD7;
	height: 180px;
	border:5px solid white;
	border-radius: 9px;
	font-family: 'Give You Glory';
	font-size: 5em;

}


.whole{
	margin: 7% 27% 7% 27%;
}

.button{
	color: white;
}